*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    background-color:  #EBF7F3;
    font-family: 'Mulish', sans-serif;
}
ul {
  list-style: none;
}
header {
  background-color: #ffffff;
  box-shadow: 0px 0px 12px 0px #28B8724D;
  border-radius: 20px;
  width: 98%;
  margin: 2rem auto ;
}

header .container {
  margin: 0 auto;
  padding: 1rem 2rem;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns:  1fr 1fr;

}

/* 4️⃣ Logo styling */
header .container .logo {
  display: flex;
  align-items: center;
  margin-left: 4rem;
}

.logo img {
  height: 6.3rem;
  width: 6.3rem;
  box-shadow: 0px 0px 2.5px 0.83px #00000040;
  border-radius: 39.96px;
  border: 0.73px solid #28B872
}
/* 5️⃣ Navigation styling */
.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.8rem;
    font-weight: 400;
}
.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
}
.nav__list--right {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav__link {
  text-decoration: none;
  font-weight: 400;
  transition: color 0.3s ease;
  color: #797979;
}

.nav__link:hover {
  color: #28B872;
}
.nav__link-register-button{
    background-color: #28B872;
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 8px;
}
.nav__link-register-button:hover{
    background-color: #149a6e;
    color: white;
}
.nav__link-login-button{
    background-color: white;
    color: #28B872;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid #28B872;
}
.hero{
    margin: 9rem 6rem;
}
.hero__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    align-items: center;
    justify-content: center;
}
.hero__left .hero__title{
    font-size: 4rem;
    font-weight: 700;
    color: #28B872;
    line-height: 1.2;
}
.hero__left .hero__subtitle{
    font-size: 1.8rem;
    font-weight: 400;
    color: #8EA197;
    line-height: 1.5;
    margin: 2rem 0;
}
.hero__left .hero__cta-button{
    display: inline-block;
    background-color: #28B872;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
}

.hero__left .hero__cta-button:hover{
    background-color: #149a6e;
    color: white;
}
.hero__left .hero__cta-button span{
    margin-left: 1rem;
}
.hero__right .hero__image{
    width: 100%;
    height: auto;
}

.features{
    
    background-color: white;
    padding: 3rem 0;
}
.features__container{
    max-width: 95%;
    margin: auto;
}
.features__header{
    margin-bottom: 6rem;
}
.features__header .features__title{
    font-size: 3.6rem;
    font-weight: 700;
    max-width: 41rem;
    color: #193263;
    padding: 8rem 0;
    text-align: center;
    margin: auto;
}
.features__header .features__title  span{
    color: #28B872;
}
.features__header .features__list{
    list-style: none;
    font-size: 2rem;
    color: #8EA197;
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    margin: auto;
    max-width: 60%;
    align-items: center;
}
.features__header hr{
    border: 0.94px solid #AEBDB6;
    margin: auto;
    width: 60%;
    margin-top: 2rem;
}
.features__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 0 6rem 6rem 6rem;
}
.features__content .feature{
    box-shadow: 0px 4px 20px 0px #28B87240;
    border-radius: 20px;               
    padding: 4rem 4rem;
    text-align: center;
}
.features__content .feature .feature__icon{
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
  background: url("data:image/svg+xml;utf8,<svg width='73' height='80' viewBox='0 0 73 80' xmlns='http://www.w3.org/2000/svg'><path opacity='0.15' d='M30.3559 1.56846C33.9781 -0.522818 38.4408 -0.522819 42.063 1.56845L66.5654 15.7149C70.1876 17.8062 72.4189 21.671 72.4189 25.8536V54.1465C72.4189 58.329 70.1876 62.1938 66.5654 64.2851L42.063 78.4315C38.4408 80.5228 33.9781 80.5228 30.3559 78.4315L5.85356 64.2851C2.23136 62.1938 0 58.329 0 54.1465V25.8536C0 21.671 2.23136 17.8062 5.85355 15.7149L30.3559 1.56846Z' fill='%2300B87B'/></svg>") no-repeat center/contain;
    display: flex;
  align-items: center;
  justify-content: center;

}     
.features__content .feature .feature__icon .feature__image{
    width: 3rem;
    height: 3rem;
}      
.features__content .feature .feature__title{
    font-size: 2.4rem;
    font-weight: 700;
    color:#000B33;
    margin: 1.5rem 0;
}
.features__content .feature .feature__description{
    font-size: 1.6rem;
    font-weight: 200;
    color: #000B33;
    line-height: 1.5;
}
.advertisement__container{
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 6rem 0;
}
.advertisement__container .advertisement__icon{
   width: 50rem;
    height: 50rem;
    margin: 0 auto;
  background: url("data:image/svg+xml;utf8,<svg width='499' height='500' viewBox='0 0 499 500' fill='none' xmlns='http://www.w3.org/2000/svg'><foreignObject x='-4.00049' y='-3.17676' width='507' height='507'><div xmlns='http://www.w3.org/1999/xhtml' style='backdrop-filter:blur(2px);clip-path:url(%23bgblur_0_287_494_clip_path);height:100%;width:100%'></div></foreignObject><circle data-figma-bg-blur-radius='4' cx='249.499' cy='250.323' r='249.5' transform='rotate(90 249.499 250.323)' fill='%2376D1A5'/><defs><clipPath id='bgblur_0_287_494_clip_path' transform='translate(4.00049 3.17676)'><circle cx='249.499' cy='250.323' r='249.5' transform='rotate(90 249.499 250.323)'/></clipPath></defs></svg>")
              no-repeat center/contain;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:20px auto;
}
.advertisement__container .advertisement__icon img{
   
    height: 60rem;
}
.advertisement__container .advertisement__text{
    max-width: 40rem;
    margin: auto;
}

.advertisement__container .advertisement__text .advertisement__title{
    font-size: 4.8rem;
    font-weight: 700;
    color: #193263;
    line-height: 1.2;
}
.advertisement__container .advertisement__text span{
    color: #28B872;
}
.advertisement__container .advertisement__text .advertisement__subtitle{
    font-size: 2rem;
    font-weight: 200;
    color:#000B33;
    line-height: 1.5;
    margin: 2rem 0;
}
.advertisement__container .advertisement__text .advertisement__button{
    display: inline-flex;
    background-color: #28B872;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    align-items: center;
    transition: background-color 0.3s ease;
    gap: 1rem;
}
.testimonial{
    background-color: white;
    padding: 10rem 0;
}
.testimonial__container{
    max-width: 95%;
    margin: auto;
}       
.testimonial__header {
    
    text-align: center;
    color: #28B872;
    font-size: 2rem;
    font-weight: 600;
    line-height: 4.6rem;
}
.testimonial__container .testimonial__title {
    font-size: 4.6rem;
    font-weight: 700;
    max-width: 62rem;
    color: #193263;
    
    text-align: center;
    margin: 4rem auto;
}
.testimonial__title .testimonial__title-text span{
    color: #28B872;
}
.testimonial__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    padding: 0 6rem 6rem 6rem;
}
.testimonial__content .testimonial__card{
    background-color: white;
    box-shadow: 0px 4px 20px 0px #28B87240;
    border-radius: 20px;               
    padding: 4rem 4rem;
    /* text-align: center; */
}     
.testimonial__content .testimonial__card .testimonial__quote{
    font-size: 1.6rem;
    font-weight: 200;
    color: #000B33;
    line-height: 1.5;
    margin: 2rem 0;
}     
.testimonial__content .testimonial__card .testimonial__user{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}
.testimonial__content .testimonial__card .testimonial__user .testimonial__user_info{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.testimonial__content .testimonial__card .testimonial__user .testimonial__user_info .testimonial__user_image{
    width: 6rem;                    
    height: 6rem;
    border-radius: 50%;
    border: 1px solid #28B872;
}
.testimonial__content .testimonial__card .testimonial__user .testimonial__user_info .testimonial__author-details .testimonial__author{
    font-size: 1.8rem;
    font-weight: 700;
    color: #193263;
}
.testimonial__content .testimonial__card .testimonial__user .testimonial__user_info .testimonial__author-details .testimonial__author-role{
    font-size: 1.4rem;
    font-weight: 400;
    color: #8EA197;
}
.testimonial__content .testimonial__card .testimonial__user .testimonial__user_rating{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.testimonial__container .testimonial__indicators{
    text-align: center;
}
.testimonial__container .testimonial__indicators .indicator{
    display: inline-block;
    width: 1.7rem;
    height: 0.8rem;
    background-color: #28B87233;
    border-radius: 4px;
    margin: 0 0.25rem;
    cursor: pointer;
}
.testimonial__container .testimonial__indicators .indicator.active{
    background-color: #28B872;
    width: 3rem;
}
.fuel__price{
    padding: 11rem 10rem;
    }
.fuel__price .fuel__price-container{
    max-width: 90%;
    margin: auto;
}
.fuel__price .fuel__price-container .fuel__price-title{
    

}
.fuel__price .fuel__price-container .fuel__price-title {
    font-size: 4.6rem;
    font-weight: 700;
    color: #193263;
    line-height: 1.2;
    text-align: center;
    margin: auto;
    max-width: 62rem;
}
.fuel__price .fuel__price-container .fuel__price-title span{
    color: #28B872;
}
.fuel__price .fuel__price-container .fuel__price-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 4rem;
    padding: 6rem 0 0 0;
}
.fuel__price .fuel__price-container .fuel__price-card{
    background-color: white;
    box-shadow: 0px 4px 20px 0px #28B87240;
    border-radius: 20px;               
    padding: 4rem 4rem;
    color: #193263;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-container{
  
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-left{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-left .fuel__icon{
    width: 8rem;
    height: 8rem;
    background: url("data:image/svg+xml;utf8,<svg width='73' height='80' viewBox='0 0 73 80' xmlns='http://www.w3.org/2000/svg'><path opacity='0.15' d='M30.3559 1.56846C33.9781 -0.522818 38.4408 -0.522819 42.063 1.56845L66.5654 15.7149C70.1876 17.8062 72.4189 21.671 72.4189 25.8536V54.1465C72.4189 58.329 70.1876 62.1938 66.5654 64.2851L42.063 78.4315C38.4408 80.5228 33.9781 80.5228 30.3559 78.4315L5.85356 64.2851C2.23136 62.1938 0 58.329 0 54.1465V25.8536C0 21.671 2.23136 17.8062 5.85355 15.7149L30.3559 1.56846Z' fill='%2300B87B'/></svg>") no-repeat center/contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-left .fuel__icon .fuel__image{
    width: 3rem;
    height: 3rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-left .fuel__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-left .fuel__info .fuel__type{

    font-size: 1.4rem;
    font-weight: 350;

}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-left .fuel__info .fuel__price-amount{
    font-size: 2rem;
    font-weight: 600;;
}

.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-right {
    color: red;
    margin-top: 2rem;
}
/* .fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-1-right:nth-child(2){
    color: #28B872;
} */
.fuel__price-row-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.fuel__price-row-2 .fuel__price-schedule-left{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.fuel__price-row-2 .fuel__price-schedule-left .schedule__icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    }
.fuel__price-row-2 .fuel__price-schedule-left .schedule__icon .calander__image{
    width: 2.5rem;
    height: 2.5rem;
    }
.fuel__price-row-2 .fuel__price-schedule-left .schedule__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.fuel__price-row-2 .fuel__price-schedule-left .schedule__info .schedule__from{
    font-size: 1.2rem;
    font-weight: 350;
    color: #6B6E73;
}
.fuel__price-row-2 .fuel__price-schedule-left .schedule__info .schedule__date{
    font-size: 1.8rem;
    font-weight: 500;
}
.fuel__price-row-2 .fuel__price-schedule-right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.fuel__price-row-2 .fuel__price-schedule-right .schedule__icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fuel__price-row-2 .fuel__price-schedule-right .schedule__icon .calander__image{
    width: 2.5rem;
    height: 2.5rem;
}
.fuel__price-row-2 .fuel__price-schedule-right .schedule__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.fuel__price-row-2 .fuel__price-schedule-right .schedule__info .schedule__to{
    font-size: 1.2rem;
    font-weight: 350;
    color: #6B6E73;
}
.fuel__price-row-2 .fuel__price-schedule-right .schedule__info .schedule__date{
    font-size: 1.8rem;
    font-weight: 500;       
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3{
    margin-top: 2rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3 .fuel__price-source{
display: flex;
align-items: center;
gap: 1.5rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3 .fuel__price-source .source__icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3 .fuel__price-source .source__icon .fuel__image{
    width: 2.5rem;
    height: 2.5rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3 .fuel__price-source .source__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3 .fuel__price-source .source__info .source{
    font-size: 1.2rem;
    font-weight: 350;
    color: #6B6E73;
}
.fuel__price .fuel__price-container .fuel__price-card .fuel__price-row-3 .fuel__price-source .source__info .source__name{
    font-size: 1.8rem;
    font-weight: 500;
}
.fuel__price hr{
    border: 0.07rem solid #EBEBEB;
    margin: auto;
    width: 100%;
    margin-top: 2rem;
}
.contact{
    background-color: white;
    padding: 11rem 10rem;
}
.contact .contact__container{
    max-width: 80%;
    margin: auto;
}
.contact  .contact__us{
    font-size: 4.6rem;
    font-weight: 600;
    color: #193263;
    line-height: 1.2;
    text-align: center;
    margin: auto;
}
.contact .contact__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 6rem 0 0 0;
}
.contact .contact__container .contact__left{
    display: flex;
    flex-direction: column;
    gap: 4rem;
   
}
.contact .contact__container .contact__left .contact__title{
    font-size: 3.4rem;
    font-weight: 700;
    color: #193263; 
    margin:auto;    

}
.contact .contact__container .contact__left .contact__subtitle{
    font-size: 1.6rem;
    font-weight: 200;
    color: #000B33;
    line-height: 1.5;
    margin: 2rem auto;
    max-width: 45rem;
    text-align: center;
}
.contact .contact__container .contact__left .contacts{
    margin: auto;
}
.contact .contact__container .contact__left .contact__item{
    display: flex;
    gap: 2rem;
    margin: 2rem 0; 
}
.contact .contact__container .contact__left .contact__item .contact__icon{
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("data:image/svg+xml;utf8,<svg width='73' height='80' viewBox='0 0 73 80' xmlns='http://www.w3.org/2000/svg'><path opacity='0.15' d='M30.3559 1.56846C33.9781 -0.522818 38.4408 -0.522819 42.063 1.56845L66.5654 15.7149C70.1876 17.8062 72.4189 21.671 72.4189 25.8536V54.1465C72.4189 58.329 70.1876 62.1938 66.5654 64.2851L42.063 78.4315C38.4408 80.5228 33.9781 80.5228 30.3559 78.4315L5.85356 64.2851C2.23136 62.1938 0 58.329 0 54.1465V25.8536C0 21.671 2.23136 17.8062 5.85355 15.7149L30.3559 1.56846Z' fill='%2300B87B'/></svg>") no-repeat center/contain;
}
.contact .contact__container .contact__left .contact__item .contact__icon .contact__image{
    width: 2.5rem;
    height: 2.5rem;
}
.contact .contact__container .contact__left .contact__item .contact__info{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;    
}

.contact .contact__container .contact__left .contact__item .contact__info .contact__info-detail{
    font-size: 1.4rem;
    font-weight: 400;
    color: #6B6E73; 
}
.contact .contact__container .contact__right{
    background-color: #EBF7F3;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 12px 0px #28B87240;
    border-radius: 1.8rem;
    padding: 6rem;
    
}
.contact .contact__container .contact__right form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contact .contact__container .contact__right form .form__group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.contact .contact__container .contact__right form .form__group label{
    font-size: 1.4rem;
    font-weight: 400;
    color: #193263;
}
.contact .contact__container .contact__right form .form__group .form__label span{
    color: red;
    margin-left: 0.2rem;
}
.contact .contact__container .contact__right form .form__group input,
.contact .contact__container .contact__right form .form__group textarea{
    padding: 1.5rem;
    border: 1px solid #C4C4C4;
    border-radius: 0.8rem;
    font-size: 1.4rem;
    font-weight: 400;
    color: #193263;
    resize: vertical;
}
.contact .contact__container .contact__right form .form__group input:focus,
.contact .contact__container .contact__right form .form__group textarea:focus{
    outline: none;
    border-color: #28B872;
    box-shadow: 0 0 5px #28B872;
}
.contact .contact__container .contact__right form .form__group textarea{
    min-height: 10rem;
}
.contact .contact__container .contact__right form .form__group input::placeholder,
.contact .contact__container .contact__right form .form__group textarea::placeholder{
    color: #A9A9A9;
}

.contact .contact__container .contact__right form .submit__form{
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}
.contact .contact__container .contact__right form .submit__button{
    background-color: #28B872;
    color: white;
    padding: 1.5rem 3rem;
    border-radius: 8px;
    font-size: 1.8rem;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease;
    align-content: end;
}
.contact .contact__container .contact__right form  .submit__button:hover{
    background-color: #149a6e;
    color: white;
}
footer{
    background-color: #004725;
    color: white;
    padding: 6rem 0;
}
footer .footer__container{
    max-width: 90%;
    margin: auto;
}
footer .footer__container .footer__section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
}
footer .footer__container .footer__section .footer__left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer .footer__container .footer__section .footer__left .footer__app-name{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.footer .footer__container .footer__section .footer__left .footer__logo img{
    height: 6.3rem;
    width: 6.3rem;
    box-shadow: 0px 0px 2.5px 0.83px #00000040;
    border-radius: 39.96px;
    border: 0.73px solid #28B872
}
.footer .footer__container .footer__section .footer__left .footer__app-name .app-name{
    font-size: 2.4rem;
    font-weight: 700;
}
.footer .footer__container .footer__section .footer__left .footer__description{
    font-size: 1.4rem;
    font-weight: 400;
    color:white;
    line-height: 1.5;
}
.footer .footer__container .footer__section .footer__middle{
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}
.footer .footer__container .footer__section .footer__right{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
} 

.footer .footer__container .footer__section .footer__middle .footer__links,
.footer .footer__container .footer__section .footer__middle .footer__products,
.footer .footer__container .footer__section .footer__right .footer__social{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.footer .footer__container .footer__section .footer__middle .footer__links .footer__links-title,
.footer .footer__container .footer__section .footer__middle .footer__products .footer__product-title,
.footer .footer__container .footer__section .footer__right .footer__social .footer__social-title{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 160%;
    margin-bottom: 1rem;
    letter-spacing: 0%;
}
.footer .footer__container .footer__section .footer__middle .footer__links li ,
.footer .footer__container .footer__section .footer__middle .footer__products li{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    
}
.footer .footer__container .footer__section .footer__middle .footer__links .footer__link,
.footer .footer__container .footer__section .footer__middle .footer__products .footer__product{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.footer .footer__container .footer__section .footer__middle .footer__links li .footer__link:hover,
.footer .footer__container .footer__section .footer__middle .footer__products li .footer__product:hover{
    color: #d6f4ea;
}
.footer .footer__container .footer__section .footer__right .footer__social .footer__contact{
    font-size: 1.4rem;
    font-weight: 400;
    color: white;
    line-height: 1.5;
}
.footer .footer__container .footer__section .footer__right .footer__social .footer__social-icons{
    display: flex;
    gap: 3rem;
}
.footer .footer__container .footer__section .footer__right .footer__social .footer__social-icons .footer__social-link{
    width: 4rem;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}
.footer .footer__container .footer__section .footer__right .footer__social .footer__social-icons .footer__social-link:hover{
    background-color: #28B872;
}
.footer .footer__container .footer__section .footer__right .footer__social .footer__social-icons .footer__social-link img{
    width: 2.5rem;
    height: 2.5rem;
}
